h1 , h2 , h3 , h4 , h5 , h6{
  font-family: 'Open Sans', sans-serif;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}
.content{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
.unordered-list{
  font-family: 'Pontano Sans', sans-serif;
  line-height: 32px;
}
.ordered-list{
  font-family: 'Pontano Sans', sans-serif;
  line-height: 32px;
}
#mysection{
  background-color: #314e52;
}
#mysection1{
    padding: 50px 50px;
    background-color: #95e1d3;
    text-align: center;
    margin: 10px;
}



#mysection2{
    background-color: #95e1d3;
    height: 500px;
    padding-left: 4%;
    padding-top: 4%;
    margin-top: 10px;
    margin-left: 500px;
    margin-bottom: 10px;
}

#mysection3{
    background-color: #eaffd0;
    height: 620px;
    padding: 2% 2%;
    margin: 10px;
    margin-right: 500px;
}

#myfooter{
  text-align: center;
    padding: 3% 15%;
    margin: 10px;
    background-color: #e7e6e1;
}
.unordered-list{
  margin-left: 50px;
}

a:link {
    color: darkblue;
  }
  
  
  a:visited {
    color: darkblue;
  }
  
  
  a:hover {
    color: lightblue;
  }
  

.zoom {
    padding: 50px;
    background-color: whitesmoke;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2);
    background-color: grey; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  /* .content{
      padding-bottom: 300px;
  } */
  
.elements{
  margin: 25px auto;
  padding: 25px 50px;
}

  .offerings{
      margin: 10px;
  }
  .section2-img{
    height: 300px;
    width: 300px;
    float: left;
    margin: 5% ;
  }
  .section2-img1{
    height: 300px;
    width: 300px;
    float: right;
    margin: 5% ;
    margin-top: 10%;
  }
.copyright{
  margin-top: 10px;
}



  
  
  